<footer>

    <div class="footer-container1">
        <ul>
            <li><a href=""></a>CGU</li>
            <li><a href="{{ path('main_about')}}">A propos</a></li>
            <li><a href="{{ path('main_contact')}}">Contact</a></li>
        </ul>
    </div>
    <div class="footer-container2">
        <p>Tous droits réservés © - MovieLib.inc  {{ date()|date("Y")}} </p>
    </div>

</footer>